---
#resolv_nameservers:
  #- 128.118.250.8
  #- 54.172.110.33
  #- 54.172.173.123
#resolv_domain: galaxyproject.org
#resolv_search: galaxyproject.org
chrony_server: 'time.ruf.uni-freiburg.de iburst'

dc: ufr-rz

# Telegraf
telegraf_agent_output:
  - type: influxdb
    config:
    - urls = ["http://influxdb.denbi.uni-freiburg.de:8086"]
    - database = "rancher"

telegraf_plugins_default:
  - plugin: cpu
    config:
      - percpu = true
  - plugin: disk
  - plugin: kernel
  - plugin: processes
  - plugin: io
  - plugin: mem
  - plugin: system
  - plugin: swap
  - plugin: net
  - plugin: netstat
  - plugin: chrony

unattended_origins_patterns:
- 'origin=Ubuntu,archive=${distro_codename}'
- 'origin=Ubuntu,archive=${distro_codename}-security'
- 'origin=Ubuntu,archive=${distro_codename}-updates'
- 'origin=Ubuntu,archive=${distro_codename}-proposed'

unattended_automatic_reboot: true
unattended_minimal_steps: true
unattended_remove_unused_dependencies: true

# Anything else prevents more login
ssh_use_pam: true
# Required if you want to run ansible more than once.
sftp_enabled: true

galaxy_uid: 999
galaxy_gid: 999

yum_cron_conf:
  base:
    debuglevel: -2
    mdpolicy: 'group:main'
  commands:
    apply_updates: false
    download_updates: true
    random_sleep: 360
    update_cmd: default
    update_messages: true
  email:
    email_from: root@localhost
    email_host: localhost
    email_to: root
  emitters:
    emit_via: stdio
    output_width: 160
    system_name: None
  groups:
    group_list: None
    package_types:
      - mandatory
      - default
yum_cron_hourly_conf:
  base:
    debuglevel: -2
    mdpolicy: 'group:main'
  commands:
    apply_updates: true
    download_updates: true
    random_sleep: 15
    update_cmd: security
    update_messages: false
  email:
    email_from: root
    email_host: localhost
    email_to: root
  emitters:
    emit_via: stdio
    output_width: 160
    system_name: None
  groups:
    group_list: None
    package_types:
      - mandatory
      - default
