---
# Autofs
autofs_mount_points:
  - data

autofs_conf_files:
  data:
    - dnb01   -rw,hard,nosuid      ufr-dyn.isi1.public.ads.uni-freiburg.de:/ifs/isi1/ufr/bronze/nfs/denbi/&

autofs_service.install: true
autofs_service.enable: true
nfs_kernel_tuning: true

# CVMFS
cvmfs_packages:
  stratum1:
    - httpd
    - python3-mod_wsgi
    - squid
    - cvmfs-server
    - cvmfs-config-default

cvmfs_stratum1_create_directory: false

cvmfs_stratum1_cache_dir:
  dir: /var/cache/squid/
  # 'Mbytes' is the amount of disk space (MB) to use under this
  # directory.  The default is 100 MB.  Change this to suit your
  # configuration.  Do NOT put the size of your disk drive here.
  # Instead, if you want Squid to use the entire disk drive,
  # subtract 20% and use that value.
  size: 1024

cvmfs_role: stratum1
galaxy_cvmfs_repos_enabled: true

cvmfs_check_servers:
  repos:
    - test.galaxyproject.org
    - data.galaxyproject.org
    - main.galaxyproject.org
    - sandbox.galaxyproject.org
    - singularity.galaxyproject.org
    - usegalaxy.galaxyproject.org
    - cvmfs-config.galaxyproject.org
    - refgenomes-databio.galaxyproject.org
  hosts:
    - cvmfs1-psu0.galaxyproject.org
    - cvmfs1-iu0.galaxyproject.org
    - cvmfs1-tacc0.galaxyproject.org
    - cvmfs1-mel0.gvl.org.au
    - galaxy.jrc.ec.europa.eu:8008
    - cvmfs1-ufr0.galaxyproject.eu
    - cvmfs-s1-galaxy.computecanada.ca:8000
