---
hostname: osiris.denbi.de
server_alias: osiris-denbi.galaxyproject.eu

restore_backup_semaphore_path: /root/delete_to_restore_OSIRIS_backup.ansible

ssh_root_pub_keys:
  "Renato Alves ed25519": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILsJTFVxr/bEyH2XLqy1tQRj0LqNu5mmbdv8Rch3zIZJ"
  "Renato Alves rsa": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDr3aV9FUeHXvAYPSe7TYUxwOJhwx4b870l1i1RFA/AEhvJOOQCqemv07T7lrsp8eNwU+9oTSnDuSV0w4Hge+3wgTm7b9V1h4UQ70KmIdXqhHe7bo9OB/AYH4TYc2IUgRInPeTXPGHqQFsGtWmtBwElWl/t8azLvqywSyJ4FRiYXoMfJCuF6Ba7TyQDX6gY5Ysc+c+i5tGGNXFcXdmD1PHHkcF+k/QtS2Wv0WZqQEFEJFFCR2iEkqbd2PynBTWMmh711so3Py6+CaCvE1lXlEq906nF3YTGFFNZ1le3RF8SrF1MPHrR4d9uSWgRA8sHFe+XCcnRuHjwi29KCXY77yIX"

php_memory_limit: "128M"
php_max_execution_time: "60"
php_upload_max_filesize: "128M"
php_packages:
  - php
  - php-cli
  - php-pear
  - php-ldap
  - php-pecl-mongodb

php_webserver_daemon: httpd
php_enablerepo: epel

php_enable_php_fpm: true
php_fpm_state: started
php_fpm_enabled_on_boot: true

# Prevent mongo from configuring a replicaset
replicaset: false

osiris_www_dir: /var/www/osiris
osiris_config_file: "{{ osiris_www_dir }}/CONFIG.php"

certbot_bin: "/usr/bin/certbot"
certbot_well_known_root: "{{ osiris_www_dir }}/_well-known_root"
certbot_domains:
  - "{{ hostname }}"
  - "{{ server_alias }}"
certbot_auto_renew_extra:

apache_vhosts:
  - servername: "{{ hostname }}"
    documentroot: "{{ osiris_www_dir }}"
    extra_parameters: |
      Alias /.well-known/acme-challenge/ {{ certbot_well_known_root }}/acme-challenge/
      <Directory "{{ certbot_well_known_root }}">
          Options None
          AllowOverride None
          ForceType text/plain
          Require all granted
      </Directory>
      # Restrict access to .git which we use for updates - https://www.ncsc.admin.ch/git-en
      <Directory "{{ osiris_www_dir }}/.git">
          Options None
          AllowOverride None
          Require all denied
      </Directory>
      ProxyPassMatch ^/(.*\.php(/.*)?)$ "fcgi://127.0.0.1:9000{{ osiris_www_dir }}"
  - servername: "{{ server_alias }}"
    documentroot: "{{ osiris_www_dir }}"
    extra_parameters: |
      Alias /.well-known/acme-challenge/ {{ certbot_well_known_root }}/acme-challenge/
      <Directory "{{ certbot_well_known_root }}">
          Options None
          AllowOverride None
          ForceType text/plain
          Require all granted
      </Directory>
      # Restrict access to .git which we use for updates - https://www.ncsc.admin.ch/git-en
      <Directory "{{ osiris_www_dir }}/.git">
          Options None
          AllowOverride None
          Require all denied
      </Directory>
      ProxyPassMatch ^/(.*\.php(/.*)?)$ "fcgi://127.0.0.1:9000{{ osiris_www_dir }}"
