---
# Autofs
autofs_service.install: true
autofs_service.enable: true

autofs_mount_points:
  - data
  - gxtest
  - gxkey
  - jwd

# packages
software_groups_to_install:
  - admin
  - debug
  - editors
  - services
  - utils

# HTCondor
# condor_host: "condor-cm.galaxyproject.eu"
# condor_allow_write: "10.5.68.0/24, 132.230.223.0/24, 132.230.153.0/28"
# condor_daemons:
#   - COLLECTOR
#   - MASTER
#   - NEGOTIATOR
# condor_allow_negotiator: $(ALLOW_WRITE)
# condor_allow_administrator: "$(ALLOW_NEGOTIATOR)"
# condor_network_interface: ens802f0.2368
# condor_extra: |
#   MASTER_UPDATE_INTERVAL = 150
#   CLASSAD_LIFETIME = 300
#   NEGOTIATOR_INTERVAL = 15
#   NEGOTIATOR_UPDATE_INTERVAL = 100
#   JOB_START_COUNT = 250
#   JOB_START_DELAY = 0
#   NEGOTIATOR_POST_JOB_RANK = isUndefined(RemoteOwner) * (10000 - TotalLoadAvg)

# PostgreSQL
postgresql_conf:
  # From pgtune
  # DB Version: 13
  # OS Type: linux
  # DB Type: web
  # Total Memory (RAM): 125 GB
  # CPUs num: 40
  # Data Storage: ssd
  - listen_addresses: "'*'"
  - max_connections: 768
  - shared_buffers: "24GB"
  - effective_cache_size: "72GB"
  - maintenance_work_mem: "2GB"
  - checkpoint_completion_target: 0.9
  - wal_buffers: 16MB
  - default_statistics_target: 100
  - random_page_cost: 1.1
  - effective_io_concurrency: 200
  - work_mem: 40MB
  - huge_pages: try
  - min_wal_size: 1GB
  - max_wal_size: 4GB
  - max_worker_processes: 30
  - max_parallel_workers_per_gather: 4
  - max_parallel_workers: 30
  - max_parallel_maintenance_workers: 4
  - temp_buffers: "64MB"
  - max_prepared_transactions: 100
# the following line throws an error in v13
#  - shared_preload_libraries: "'pg_stat_statements'"
#  - log_line_prefix: "'%t:%r:%u@%d:[%p]<%m>: '"
  - log_checkpoints: "on"
  - log_min_duration_statement: 500
postgresql_pg_hba_conf:
  - "host    postgres        galaxy          132.230.223.239/32      md5"
  - "host    postgres        galaxy          10.5.68.237/32          md5"
  - "host    postgres        galaxy-test     10.5.68.154/32          md5"
  - "host    galaxy          galaxy          132.230.223.239/32      md5"
  - "host    galaxy          galaxy          132.230.223.238/32      md5"
  - "host    galaxy          galaxy          10.5.68.237/32          md5"
  - "host    galaxy          galaxy          10.5.68.126/32          md5"
  - "host    galaxy          galaxy          10.5.67.211/32          md5"
  - "host    galaxy          galaxy          10.5.67.216/32          md5"
  - "host    galaxy          galaxy          100.118.169.22/32       md5"
  - "host    galaxy          galaxy-readonly 132.230.223.239/32      md5"
  - "host    galaxy          galaxy-readonly 10.5.68.237/32          md5"
  - "host    galaxy          galaxy-readonly 10.5.67.211/32          md5"
  - "host    galaxy          galaxy-readonly 132.230.223.238/32      md5"
  - "host    tiaas           tiaas           132.230.223.239/32      md5"
  - "host    tiaas           tiaas           132.230.223.238/32      md5"
  - "host    tiaas           tiaas           10.5.68.237/32          md5"
  - "host    galaxy-test     galaxy-test     132.230.223.239/32      md5"
  - "host    galaxy-test     galaxy-test     10.5.68.0/24            md5"
  - "host    galaxy          galaxyftp       132.230.224.107/32      md5"
  - "host    galaxy          galaxyftp       10.5.67.0/24            md5"
  - "host    galaxy          galaxy-apollo   10.5.67.0/24            md5"
  - "host    apollo          apollo          10.5.67.0/24            md5"
  - "host    chado           apollo          10.5.67.0/24            md5"
  - "host    grt             grt             10.5.68.0/24            md5"
postgresql_pgdump_dir: "/var/lib/pgsql/pgdump2"
