---
tiaas_dir: /opt/tiaas2
tiaas_user: tiaas2
tiaas_group: tiaas2
tiaas_admin_user: admin
tiaas_admin_pass: "{{ __tiaas_admin_pass }}"

tiaas_galaxy_db_name: "{{ _galaxy_db_name }}"
tiaas_galaxy_db_user: "{{ _galaxy_db_user }}"
tiaas_galaxy_db_pass: "{{ _galaxy_db_pass }}"
tiaas_galaxy_db_host: "{{ _galaxy_db_host }}"
tiaas_galaxy_db_port: "{{ _galaxy_db_port }}"

tiaas_tiaas_use_sqlite: false
tiaas_tiaas_db_name: "{{ _tiaas_db_name }}"
tiaas_tiaas_db_user: "{{ _tiaas_db_user }}"
tiaas_tiaas_db_pass: "{{ _tiaas_db_pass }}"
tiaas_tiaas_db_host: "{{ _tiaas_db_host }}"
tiaas_tiaas_db_port: "{{ _tiaas_db_port }}"

tiaas_virtualenv_command: /usr/bin/python3 -m virtualenv
tiaas_other_config: |
  EMAIL_HOST="smtp.informatik.uni-freiburg.de"
  EMAIL_PORT=587
  EMAIL_HOST_USER="{{ smtp_username }}"
  EMAIL_HOST_PASSWORD="{{ smtp_password }}"
  EMAIL_USE_TLS=True
  EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
  EMAIL_TIMEOUT=60
  TIAAS_SEND_EMAIL_TO="galaxy@informatik.uni-freiburg.de"
  TIAAS_SEND_EMAIL_FROM="galaxy-no-reply@informatik.uni-freiburg.de"

tiaas_info:
  owner: UseGalaxy.eu
  owner_email: galaxy@informatik.uni-freiburg.de
  owner_site: https://galaxyproject.eu
  domain: "https://usegalaxy.eu"
tiaas_secret_key: "{{ __tiaas_secret_key }}"
tiaas_galaxy_idsecret: "{{ id_secret }}"

tiaas_socket: /etc/systemd/system/tiaas.socket
