[Unit]
Description=Galactic Radio Telescope
Documentation=https://github.com/erasche/galactic-radio-telescope
After=network.target

[Service]
User={{ grt_user }}
Group={{ grt_group }}
ExecStart={{ grt_dir }}/run.sh
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=multi-user.target
