[flake8]
exclude =
    .venv
    collections
    roles/htcondor
    roles/hxr.monitor-galaxy
    roles/hxr.monitor-squid
    roles/hxr.simple-nagios    
    roles/jasonroyle.rabbitmq
    templates/encoder/yaml_converter.py
ignore = 
    E203,
    W503
docstring-convention = google
