*.retry
.venv
.vault_password
# These are from requirements.yml and upstream
collections/
roles/cloudalchemy.grafana/
roles/dev-sec.os-hardening/
roles/galaxyproject.galaxy/
roles/galaxyproject.nginx/
roles/galaxyproject.cvmfs/
roles/galaxyproject.postgresql/
roles/galaxyproject.proftpd/
roles/geerlingguy.docker/
roles/geerlingguy.gitlab/
roles/geerlingguy.java/
roles/geerlingguy.jenkins/
roles/geerlingguy.nfs/
roles/geerlingguy.nodejs/
roles/geerlingguy.pip/
roles/geerlingguy.repo-epel/
roles/influxdata.chrony/
roles/natefoo.postgresql_objects/
roles/usegalaxy-eu.autoupdates/
roles/usegalaxy-eu.certbot/
roles/usegalaxy-eu.dynmotd/
roles/usegalaxy-eu.galaxy-systemd/
roles/usegalaxy-eu.gxadmin/
roles/usegalaxy-eu.htcondor/
roles/usegalaxy_eu.influxdb/
roles/usegalaxy_eu.tiaas2/
roles/usegalaxy-eu.update-hosts/
roles/artis3n.tailscale/
roles/dj-wasabi.telegraf/
roles/dokku_bot.ansible_dokku/
roles/galaxyproject.gxadmin/
roles/galaxyproject.miniconda/
roles/galaxyproject.tiaas2/
roles/geerlingguy.apache-php-fpm/
roles/geerlingguy.apache/
roles/geerlingguy.php/
roles/geerlingguy.redis/
roles/geerlingguy.swap/
roles/grycap.htcondor/
roles/nginxinc.nginx/
roles/paprikant.beacon-importer/
roles/paprikant.beacon/
roles/usegalaxy-eu.ansible-postgresql/
roles/usegalaxy-eu.autofs/
roles/usegalaxy-eu.nginx/
roles/usegalaxy_eu.ansible_nginx_upload_module/
roles/usegalaxy_eu.ansible_tpv_broker/
roles/usegalaxy_eu.disable_memory_overcommit/
roles/usegalaxy_eu.dnbd3/
roles/usegalaxy_eu.firewall/
roles/usegalaxy_eu.flower/
roles/usegalaxy_eu.fs_maintenance/
roles/usegalaxy_eu.galaxy_systemd/
roles/usegalaxy_eu.gie_proxy/
roles/usegalaxy_eu.htcondor/
roles/usegalaxy_eu.influxdbserver/
roles/usegalaxy_eu.rabbitmqserver/
roles/usegalaxy_eu.rustus/
roles/usegalaxy_eu.tftp/
roles/usegalaxy_eu.tpv_auto_lint/
roles/usegalaxy_eu.traefik/
roles/usegalaxy_eu.walle/
roles/usegalaxy_eu.ssh_manager/
roles/l3d.restic/
dx_applets/.DS_Store
#.gitignore
#roles/*
#*.code-workspace
*.vscode/
