*.retry
.venv
.vault_password
# These are from requirements.yml and upstream
roles/dev-sec.os-hardening/
roles/galaxyproject.galaxy/
roles/galaxyproject.proftpd/
roles/geerlingguy.gitlab/
roles/geerlingguy.java/
roles/geerlingguy.jenkins/
roles/geerlingguy.nfs/
roles/geerlingguy.nodejs/
roles/geerlingguy.pip/
roles/geerlingguy.repo-epel/
roles/influxdata.chrony/
roles/usegalaxy-eu.certbot/
