*.retry
.venv
.vault_password
# These are from requirements.yml and upstream
roles/cloudalchemy.grafana/
roles/dev-sec.os-hardening/
roles/dev-sec.ssh-hardening/
roles/galaxyproject.galaxy/
roles/galaxyproject.nginx/
roles/galaxyproject.cvmfs/
roles/galaxyproject.postgresql/
roles/galaxyproject.proftpd/
roles/geerlingguy.docker/
roles/geerlingguy.gitlab/
roles/geerlingguy.java/
roles/geerlingguy.jenkins/
roles/geerlingguy.nfs/
roles/geerlingguy.nodejs/
roles/geerlingguy.pip/
roles/geerlingguy.repo-epel/
roles/influxdata.chrony/
roles/natefoo.postgresql_objects/
roles/usegalaxy-eu.autoupdates/
roles/usegalaxy-eu.certbot/
roles/usegalaxy-eu.dynmotd/
roles/usegalaxy-eu.galaxy-systemd/
roles/usegalaxy-eu.gxadmin/
roles/usegalaxy-eu.htcondor/
roles/usegalaxy_eu.influxdb/
roles/usegalaxy_eu.tiaas2/
roles/usegalaxy-eu.update-hosts/
dx_applets/.DS_Store

