[submodule "templates/encoder"]
	path = templates/encoder
	url = https://github.com/picotrading/config-encoder-macros
[submodule "roles/cvmfs"]
	path = roles/cvmfs
	url = https://github.com/galaxyproject/ansible-cvmfs/
