[ssh_connection]
pipelining = true

[defaults]
roles_path = roles
collections_path = collections

# use openssh so that we can persist connections
transport = ssh

vault_password_file=.vault_password

retry_files_enabled = false
inventory = hosts
