%%
%% This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
%%
{% set options = [] %}
{% if rabbitmq_ssl_certs is defined -%}
    {# Ansible Jinja2 does not support the 'do' expression statement #}
    {%- if options.append('{ssl_listeners, [' ~ rabbitmq_ssl_port | default(5671) ~ ']}') -%}{% endif -%}
    {# this format is dependent on the `ssl` common role #}
    {%- set paths = rabbitmq_ssl_certs[0].paths[0] -%}
    {%- if options.append('{ssl_options, [{cacertfile, "' ~ paths.ca_cert ~ '"}, {certfile, "' ~ paths.cert ~ '"}, {keyfile, "' ~ paths.key ~ '"}, {verify, verify_peer}, {fail_if_no_peer_cert, false}]}') -%}{% endif -%}
{%- endif %}
{% for pair in rabbitmq_config_options | default([]) -%}
    {%- for key in pair -%}
        {%- if options.append('{' ~ key ~ ', ' ~ pair[key] ~ '}') -%}{% endif -%}
    {%- endfor -%}
{%- endfor -%}

[
  {rabbit, [
     {tcp_listeners, [{{ rabbitmq_port | default(5672) }}]}{{ ',' if options else '' }}
     {{ options | join(',\n     ') }}
   ]}
].
