ADMIN_USER_EMAIL=admin@galaxyproject.eu
ADMIN_USER_NAME=admin
ADMIN_USER_PWD="{{ plausible_admin_password }}"
BASE_URL="https://plausible.galaxyproject.eu"
SECRET_KEY_BASE="{{ plausible_secret_key }}"
