# {{ ansible_managed }}

daemonize yes
pidfile /run/valkey/valkey.pid
port {{ valkey_port }}
bind {{ valkey_bind_interface }}

loglevel {{ valkey_loglevel }}
logfile {{ valkey_logfile }}

# To enable logging to the system logger, just set 'syslog-enabled' to yes,
# and optionally update the other syslog parameters to suit your needs.
# syslog-enabled no
# syslog-ident valkey
# syslog-facility local0

databases {{ valkey_databases }}

save{% for save in valkey_save %} {{ save }}{% endfor %}

rdbcompression {{ valkey_rdbcompression }}
dbfilename {{ valkey_dbfilename }}
dir {{ valkey_dbdir }}

# maxclients 128

appendonly {{ valkey_appendonly }}
appendfsync {{ valkey_appendfsync }}
appendfilename {{ valkey_appendfilename }}
appenddirname {{ valkey_appenddirname }}
appendfilename {{ valkey_appendfilename }}
appenddirname {{ valkey_appenddirname }}
no-appendfsync-on-rewrite no


{% if valkey_requirepass %}
requirepass {{ valkey_requirepass }}
{% endif %}

# Default Valkey Values
always-show-logo no
hide-user-data-from-log yes
set-proc-title yes
proc-title-template "{title} {listen-addr} {server-mode}"
locale-collate ""
stop-writes-on-bgsave-error yes
rdbchecksum yes
rdb-del-sync-files no
replica-serve-stale-data yes
replica-read-only yes
repl-diskless-sync yes
repl-diskless-sync-delay 5
repl-diskless-sync-max-replicas 0
repl-diskless-load disabled
dual-channel-replication-enabled no
repl-disable-tcp-nodelay no
replica-priority 100
acllog-max-len 128
