##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

upstream test_installer_app {
    server localhost:8808;
}

upstream main_installer_app {
    server localhost:8818;
}

server {
    listen *:443 ssl;
    server_name test-installer.galaxyproject.org;

    access_log  /var/log/nginx/test-installer.galaxyproject.org_access.log;
    error_log   /var/log/nginx/test-installer.galaxyproject.org_error.log;

    location / {
        proxy_pass   http://test_installer_app;
        proxy_set_header   X-Forwarded-Host     $host;
        proxy_set_header   X-Forwarded-For      $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto    $scheme;
        proxy_set_header   X-Real-IP            $remote_addr;
    }

}

server {
    listen *:443 ssl;
    server_name main-installer.galaxyproject.org;

    access_log  /var/log/nginx/main-installer.galaxyproject.org_access.log;
    error_log   /var/log/nginx/main-installer.galaxyproject.org_error.log;

    location / {
        proxy_pass   http://main_installer_app;
        proxy_set_header   X-Forwarded-Host     $host;
        proxy_set_header   X-Forwarded-For      $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto    $scheme;
        proxy_set_header   X-Real-IP            $remote_addr;
    }

}

# vim: set filetype=nginx
