##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen *:80;
    server_name graphite.galaxyproject.org;

    return 302 https://$host$request_uri;
}

server {
    listen *:443 ssl;
    server_name graphite.galaxyproject.org;

    access_log  /var/log/nginx/graphite.galaxyproject.org_access.log;
    error_log   /var/log/nginx/graphite.galaxyproject.org_error.log;

    client_max_body_size 64M;
    keepalive_timeout 5;
    
    # path for static files
    root /opt/graphite/webapp/content;

    location /static {
        alias /opt/graphite/webapp/content;
    }

    location /media/ {
        # this changes depending on your python version
        root /opt/graphite/lib/python2.7/site-packages/django/contrib/admin;
    }

    location / {
        # why?
        #add_header Access-Control-Allow-Origin "*";
        #add_header Access-Control-Allow-Methods "GET, OPTIONS";
        #add_header Access-Control-Allow-Headers "origin, authorization, accept";

        include uwsgi_params;
        uwsgi_pass localhost:8006;
    }

}

# vim: set filetype=nginx
