##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen *:80;
    server_name sentry.galaxyproject.org;

    return 302 https://$host$request_uri;
}

server {
    listen *:443 ssl;
    server_name sentry.galaxyproject.org;

    access_log  /var/log/nginx/sentry.galaxyproject.org_access.log;
    error_log   /var/log/nginx/sentry.galaxyproject.org_error.log;

    location / {
        include uwsgi_params;
        uwsgi_pass localhost:8007;
    }

}

# vim: set filetype=nginx
