#!/bin/bash
data=$(hostname -f)
icon="$(echo "$data" | /usr/bin/identicon)"
color_fg=$((16#$(echo "$data" | tr -d '\n' | sha256sum | cut -c1-2)))
color_bg=$(( color_fg + 15 ))
bg="\033[48;5;${color_bg}m"
fg="\033[38;5;${color_fg}m"
clear="\033[0m"

line() {
	head -n $1 | tail -n 1
}


echo "
 _____     _                _____ _____   $(line 1 <<< "$icon")
|   __|___| |___ _ _ _ _   |   __|  |  |  $(line 2 <<< "$icon")
|  |  | .'| | .'|_'_| | |  |   __|  |  |  $(line 3 <<< "$icon")
|_____|__,|_|__,|_,_|_  |  |_____|_____|  $(line 4 <<< "$icon")
                    |___|                 $(line 5 <<< "$icon")
==================================================
    Hostname: $(hostname)
      Uptime: $(uptime -p)
Current user: $(whoami)
     Release: {{ ansible_distribution }} Linux release {{ ansible_distribution_version }} ({{ ansible_distribution_release }})
        Load: $(cat /proc/loadavg)
{% for custom_command in dynmotd_custom %}
{%set spacing = custom_command.name | length%}
{%for i in range(18 - spacing)%} {% endfor %}{{ custom_command.name }}: $({{ custom_command.command }})
{% endfor %}
=================================================="
