#!/bin/bash
###
### This file is managed by Ansible.  ALL CHANGES WILL BE OVERWRITTEN.
###

if [ -z "$1" ] ; then
    echo "Usage: $0 <list name>"
    exit 0
fi

echo "
dn: cn=$1,ou=listaliases,ou=mail,{{ ldap_base_dn }}
objectClass: mailGroup
cn: $1
mail: $1
mailRoutingAddress: \"|/var/lib/mailman/mail/mailman post $1\""

for action in admin bounces confirm join leave owner request subscribe unsubscribe ; do 
    echo "
dn: cn=$1-$action,ou=listaliases,ou=mail,{{ ldap_base_dn }}
objectClass: mailGroup
cn: $1-$action
mail: $1-$action
mailRoutingAddress: \"|/var/lib/mailman/mail/mailman $action $1\""
done
