##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen      *:80;
    server_name depot.galaxyproject.org;

    return 302 https://depot.galaxyproject.org$request_uri;
}

server {
    listen      *:443 ssl;
    server_name depot.galaxyproject.org;

    access_log  /var/log/nginx/depot.galaxyproject.org_access.log;
    error_log   /var/log/nginx/depot.galaxyproject.org_error.log;

    client_max_body_size 256M;

    root        /srv/nginx/depot.galaxyproject.org/root;

    location / {
        autoindex   on;
    }

    location /patch {
        autoindex   off;
    }

    location ~ /patch/.*/ {
        autoindex   on;
    }

    location ~ /(.*\.ova) {
        return 302 https://images.galaxyproject.org/gcc/$1;
    }
}

# vim: set filetype=nginx
