##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen      *:80 default_server;
    server_name galaxyproject.org www.galaxyproject.org;

    return 302 https://$host$request_uri;
}

server {
    listen      *:443 ssl default_server;
    server_name galaxyproject.org www.galaxyproject.org;

    access_log  /var/log/nginx/galaxyproject.org_access.log;
    error_log   /var/log/nginx/galaxyproject.org_error.log;

    client_max_body_size 256M;

    root        /srv/nginx/galaxyproject.org/root;

    error_page  404      /page-not-found/;
    error_page  403 =404 /page-not-found/;

    # former wiki redirects
    rewrite     ^/wiki(.*)          https://moin.galaxyproject.org$1;
    rewrite     (?i)^/GCC2012.*     /events/gcc2012;
    rewrite     (?i)^/GCC2013.*     /events/gcc2013;
    rewrite     (?i)^/GCC2014.*     /events/gcc2014;
    rewrite     (?i)^/gat2016.*     /events/admin-training2016;

    # combined search redirects
    rewrite     (?i)^/search/getgalaxy.*        /search;
    rewrite     (?i)^/search/mailinglists.*     /search;
    rewrite     (?i)^/search/usegalaxy.*        /search;
    rewrite     (?i)^/search/web.*              /search;

    # external redirects
    rewrite     ^/bushman.*         https://usegalaxy.org/bushman;
    rewrite     (?i)^/GCC2015.*     http://gcc2015.tsl.ac.uk/;
    rewrite     (?i)^/GCC2016.*     https://gcc2016.iu.edu/;
    rewrite     (?i)^/trello.*      https://github.com/galaxyproject/galaxy/issues/;

    # internal redirects
    rewrite ^/learn/api/?$ /develop/api;
    rewrite ^/admin/api/?$ /develop/api;
    rewrite ^/develop/resources-api/?$ /develop/api;
    rewrite ^/learn/api/examples/?$ /develop/api;
    rewrite ^/admin/data-libraries/?$ /data-libraries;
    rewrite ^/admin/data-libraries/new-libraries/?$ /data-libraries;
    rewrite ^/admin/data-libraries/libraries/?$ /data-libraries;
    rewrite ^/admin/data-libraries/library-sample-tracking/?$ /data-libraries;
    rewrite ^/admin/data-libraries/library-security/?$ /data-libraries;
    rewrite ^/admin/data-libraries/library-templates/?$ /data-libraries;
    rewrite ^/admin/data-libraries/uploading-library-files/?$ /data-libraries;
    rewrite ^/a-tool-or-a-suite-per-repository/?$ /toolshed/a-tool-or-a-suite-per-repository;
    rewrite ^/advanced-repository-features/?$ /toolshed/advanced-repository-features;
    rewrite ^/bells-and-whistles/?$ /toolshed/bells-and-whistles;
    rewrite ^/complex-repository-dependencies/?$ /toolshed/complex-repository-dependencies;
    rewrite ^/defining-repository-dependencies/?$ /toolshed/defining-repository-dependencies;
    rewrite ^/downloading-binaries/?$ /toolshed/downloading-binaries;
    rewrite ^/galaxy-utilities-in-repositories/?$ /toolshed/galaxy-utilities-in-repositories;
    rewrite ^/hosting-a-local-development-tool-she/?$ /toolshed/hosting-a-local-development-tool-shed;
    rewrite ^/hosting-a-local-development-tool-shed/?$ /toolshed/hosting-a-local-development-tool-shed;
    rewrite ^/hosting-a-local-tool-she/?$ /toolshed/hosting-a-local-tool-shed;
    rewrite ^/hosting-a-local-tool-shed/?$ /toolshed/hosting-a-local-tool-shed;
    rewrite ^/repository-dependencies-tag-sets/?$ /toolshed/repository-dependencies-tag-sets;
    rewrite ^/repository-population-best-practices1/?$ /toolshed/repository-population-best-practices1;
    rewrite ^/repository-population-best-practices2/?$ /toolshed/repository-population-best-practices2;
    rewrite ^/repository-revisions/?$ /toolshed/repository-revisions;
    rewrite ^/repository-types/?$ /toolshed/repository-types;
    rewrite ^/set-up-r-environment/?$ /toolshed/set-up-r-environment;
    rewrite ^/simple-repository-dependencies/?$ /toolshed/simple-repository-dependencies;
    rewrite ^/tool-dependencies-tag-sets/?$ /toolshed/tool-dependencies-tag-sets;
    rewrite ^/tool-dependencies-with-initial-install/?$ /toolshed/tool-dependencies-with-initial-install;
    rewrite ^/tool-dependency-recipes/?$ /toolshed/tool-dependency-recipes;
    rewrite ^/tools-with-dependencies-in-same-repository/?$ /toolshed/tools-with-dependencies-in-same-repository;
    rewrite ^/tools-with-dependencies-in-separate-repositories/?$ /toolshed/tools-with-dependencies-in-separate-repositories;
    rewrite ^/toolshed-advanced-topics/?$ /toolshed/advanced-topics;
    rewrite ^/toolshed-api/?$ /toolshed/api;
    rewrite ^/toolshed-datatypes-features/?$ /toolshed/datatypes-features;
    rewrite ^/toolshed-readme-files/?$ /toolshed/readme-files;
    rewrite ^/toolshed-repository-contents/?$ /toolshed/repository-contents;
    rewrite ^/toolshed-repository-features/?$ /toolshed/repository-features;
    rewrite ^/toolshed-tool-features/?$ /toolshed/tool-features;
    rewrite ^/toolshed-tour/?$ /toolshed/tour;
    rewrite ^/toolshed-workflow-sharing/?$ /toolshed/workflow-sharing;
    rewrite ^/automated-tool-tests/?$ /archive/automated-tool-tests;
    rewrite ^/install-and-test-certification/?$ /archive/install-and-test-certification;

}

# vim: set filetype=nginx





##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen      *:80;
    server_name new.galaxyproject.org;

    access_log  /var/log/nginx/new.galaxyproject.org_access.log;
    error_log   /var/log/nginx/new.galaxyproject.org_error.log;

    return 301 https://new.galaxyproject.org$request_uri;
}

server {
    listen      *:443 ssl;
    server_name new.galaxyproject.org;

    access_log  /var/log/nginx/new.galaxyproject.org_access.log;
    error_log   /var/log/nginx/new.galaxyproject.org_error.log;

    root        /srv/nginx/new.galaxyproject.org/root;
}

# vim: set filetype=nginx
