##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen      *:80;
    server_name lists.galaxyproject.org;

    return 301 https://lists.galaxyproject.org$request_uri;
}

server {
    listen      *:443 ssl;
    server_name lists.galaxyproject.org;

    access_log  /var/log/nginx/lists.galaxyproject.org_access.log;
    error_log   /var/log/nginx/lists.galaxyproject.org_error.log;

    location / {
        include uwsgi_params;
        uwsgi_modifier1 9;
        uwsgi_pass {{ mailman_uwsgi_sock }};
    }

    location /images/mailman {
        alias /var/lib/mailman/icons;
    }

    location /pipermail {
        alias /var/lib/mailman/archives/public;
        autoindex on;
    }
}

# vim: set filetype=nginx
