##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen      *:80 default_server;
    server_name orval.galaxyproject.org;

    return 301 https://orval.galaxyproject.org$request_uri;
}

server {
    listen      *:443 ssl default_server;
    server_name orval.galaxyproject.org;

    access_log  /var/log/nginx/orval.galaxyproject.org_access.log;
    error_log   /var/log/nginx/orval.galaxyproject.org_error.log;

    root        /srv/nginx/orval.galaxyproject.org/root;

    location / {
        return 302 http://galaxyproject.org;
    }
}

# vim: set filetype=nginx
