##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen      *:80;
    server_name sample-data.galaxyproject.org;

    return 302 https://sample-data.galaxyproject.org$request_uri;
}

server {
    listen      *:443 ssl;
    server_name sample-data.galaxyproject.org;

    access_log  /var/log/nginx/sample-data.galaxyproject.org_access.log;
    error_log   /var/log/nginx/sample-data.galaxyproject.org_error.log;

    root        /srv/nginx/sample-data.galaxyproject.org/root;

    location / {
        autoindex on;
    }
}

# vim: set filetype=nginx
