##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen      *:80;
    server_name training.galaxyproject.org;

    access_log  /var/log/nginx/training.galaxyproject.org_access.log;
    error_log   /var/log/nginx/training.galaxyproject.org_error.log;

    return 302 https://galaxyproject.github.io/training-material/;
}

# vim: set filetype=nginx
