##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen      *:80;
    server_name wiki.g2.bx.psu.edu;

    return 301 https://wiki.galaxyproject.org$request_uri;
}

server {
    listen      *:80;
    server_name wiki.galaxyproject.org;

    return 301 https://wiki.galaxyproject.org$request_uri;
}

server {
    listen      *:443 ssl;
    server_name wiki.galaxyproject.org;

    access_log  /var/log/nginx/wiki.galaxyproject.org_access.log;
    error_log   /var/log/nginx/wiki.galaxyproject.org_error.log;

    client_max_body_size 256M;

    root        /srv/moin/wiki/htdocs;

    rewrite ^/Events/GCC2016/Training/?$ https://gcc2016.iu.edu/training/;
    rewrite ^/Events/GCC2016/?$ https://gcc2016.iu.edu/;

    location ~ /moin_static[^/]+/(.*) {
        alias   /srv/moin/wiki/htdocs/$1;
    }

    location /favicon.ico {
        alias   /srv/moin/wiki/htdocs/$1;
    }

    location / {
        include uwsgi_params;
        uwsgi_param     SCRIPT_NAME /;
        uwsgi_modifier1 30;
        uwsgi_pass unix:/srv/moin/run/uwsgi.sock;
    }
}

# vim: set filetype=nginx
