/data           /etc/auto.data          nfsvers=3
{% if "discontinued" in usegalaxy_eu_autofs_mounts %}
/discontinued   /etc/auto.discontinued  nfsvers=3
{% endif %}
{% if "usrlocal" in usegalaxy_eu_autofs_mounts %}
/-              /etc/auto.usrlocal      nfsvers=3
{% endif %}
{% if "vdb" in usegalaxy_eu_autofs_mounts %}
/vols           /etc/auto.vols
{% endif %}
