/usr/local/python          sn03.bi.uni-freiburg.de:/export/usr.local/sclx/6/x64/&
/usr/local/galaxy          sn03.bi.uni-freiburg.de:/export/galaxy1/system/&
/usr/local/tools           sn03.bi.uni-freiburg.de:/export/galaxy1/system/&
