/usr/local/python  -rw,hard,intr,nosuid,quota      sn03.bi.uni-freiburg.de:/export/usr.local/sclx/6/x64/python
/usr/local/galaxy  -rw,hard,intr,nosuid,quota      sn03.bi.uni-freiburg.de:/export/galaxy1/system/galaxy
/usr/local/tools   -rw,hard,intr,nosuid,quota      sn03.bi.uni-freiburg.de:/export/galaxy1/system/tools
