# {{ ansible_managed }}

[main]
{% for key, value in yum_plugin_post_transaction_actions.items()|sort %}
{%   if key != 'actions' %}
{%     if value is sameas true %}
{{ key }}=true
{%     elif value is sameas false %}
{{ key }}=false
{%     elif value is string or value is number %}
{{ key }}={{ value }}
{%     else %}
{{ key }}={{ value|join(', ') }}
{%     endif %}
{%   endif %}
{% endfor %}
