#!/bin/bash

for dir in "{{ job_working_dir }}"/*/; do
    dir=${dir%*/}      # remove the trailing "/"
    echo "Cleaning $dir"
    if [[ $dir == *"_cleared_contents"* ]]; then
        tmpwatch -v -a --mtime --dirmtime 3d "$dir"
    else
        tmpwatch -v -a --mtime --dirmtime 31d "$dir"
    fi
done;
