universe = vanilla
executable = {{ maintenance_dir }}/pbs.sh
log = {{ maintenance_dir }}/maintenance_pbs.log
output = {{ maintenance_dir }}/maintenance_pbs.out
error = {{ maintenance_dir }}/maintenance_pbs.err
request_cpus = 1
requirements = GalaxyGroup == "maintenance"
on_exit_remove = false
cron_minute = 22
cron_hour = 35
cron_day_of_week = *
queue
