universe = vanilla
executable = {{ maintenance_dir }}/pbs.sh
log = {{ maintenance_dir }}/maintenance_pbs.log
output = {{ maintenance_dir }}/maintenance_pbs.out
error = {{ maintenance_dir }}/maintenance_pbs.err
request_cpus = 1
requirements = GalaxyGroup == "maintenance"
queue
