Universe = vanilla
Executable = {{ maintenance_dir }}/temporary_dirs.sh
Log = {{ maintenance_dir }}/maintenance_temporary_dirs.$(process).log
Output = {{ maintenance_dir }}/maintenance_temporary_dirs.$(process).out
Error = {{ maintenance_dir }}/maintenance_temporary_dirs.$(process).err
request_cpus = 1
Requirements = GalaxyGroup == "maintenance"
Queue
