Universe = vanilla
Executable = {{ maintenance_dir }}/uploads.sh
Log = {{ maintenance_dir }}/maintenance_uploads.log
Output = {{ maintenance_dir }}/maintenance_uploads.out
Error = {{ maintenance_dir }}/maintenance_uploads.err
Request_cpus = 1
Requirements = GalaxyGroup == "maintenance"
Queue
