#iframe {
    border: 1px solid #52697d;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}

#iframe-header {
    background: #52697d;
    border-bottom: 1px solid #52697d;
    padding: 15px 0;
}

#iframe-name {
    color: #fff;
    padding-bottom: 10px;
}

#iframe-header button {
    color: #fff;
    font-size: 14px;
    background-color: #768fa5;
    border: none;
    border-radius: 7px;
    box-shadow: 0 5px #5c768c;
    padding: 5px 10px;
}

#iframe-header button:focus {
    outline: 0;
}

#iframe-header button:hover {
    background-color: #67839b;
}

#iframe-header button:active {
    background-color: #67839b;
    box-shadow: 0 0 #5c768c;
    transform: translateY(5px);
}

#iframe-img {
    background: #fff;
}

#iframe-img img {
    padding: 10px;
    max-width: 100%;
    margin-bottom: -4px;
}
