[uwsgi]
; basic settings
master = true
processes = 4
threads = 1
{% if galaxy_zergpool %}
zerg = {{ galaxy_mutable_data_dir }}/zergpool.sock
{% endif %}

; uwsgi performance/robustness features
single-interpreter = true
post-buffering = 65536
thunder-lock = true
harakiri = 600
buffer-size = 16384

# Mapping to serve style content.
static-map= /static/style=static/style/blue

# Mapping to serve the remainder of the static content.
static-map= /static=static

# Mapping to serve the favicon.
static-map= /favicon.ico=static/favicon.ico

; logging
; log-maxsize = 134217728
log-master-bufsize = 15865856

; application
pythonpath = lib
module = galaxy.webapps.galaxy.buildapp:uwsgi_app_factory()
set = galaxy_config_file={{ galaxy_config_dir }}/galaxy.ini
set = galaxy_root={{ galaxy_server_dir }}

die-on-term = true
hook-master-start = unix_signal:2 gracefully_kill_them_all
hook-master-start = unix_signal:15 gracefully_kill_them_all
