proxy_cache_path /tmp/cache levels=1:2 keys_zone=STATIC:100m inactive=24h max_size=1g;

server {

	listen 443 ssl default_server;
	listen [::]:443 ssl default_server;

	server_name {{ inventory_hostname }};

	location /assets/ {
		proxy_pass                 https://usegalaxy-eu.github.io/assets/;
		proxy_cache                STATIC;
		proxy_cache_valid          200  1d;
		proxy_cache_use_stale      error timeout invalid_header updating http_500 http_502 http_503 http_504;
	}
	location / {
		proxy_pass                 https://usegalaxy-eu.github.io/ftp/;
		proxy_cache                STATIC;
		proxy_cache_valid          200  1d;
		proxy_cache_use_stale      error timeout invalid_header updating http_500 http_502 http_503 http_504;
	}
}
