map $http_upgrade $connection_upgrade {
	default upgrade;
	''      close;
}

upstream galaxy {
	{% for n in range(galaxy_systemd_gunicorns) %}
    	server unix:{{ galaxy_mutable_data_dir }}/{{ galaxy_systemd_gunicorn_socket_name }}_{{ n }}.sock;
	{% endfor %}
}

server {
	listen 443 default_server;
	listen [::]:443 default_server;

	error_page 404 /404.html;
	error_page 502 /502.html;
	error_page 503 /503.html;
	error_page 504 /503.html;

	location /404.html {
		root /usr/share/nginx/html;
		internal;
	}
	location /502.html {
		root /usr/share/nginx/html;
		internal;
	}
	location /503.html {
		root /usr/share/nginx/html;
		internal;
	}
	location /504.html {
		root /usr/share/nginx/html;
		internal;
	}

	# Move to remote storage, hopefully hammer local disk slightly less?
	#client_body_temp_path  /data/dnb01/nginx_upload_store/;
	client_body_buffer_size 1024m;

	location / {
		# This is the backend to send the requests to.
		proxy_pass http://galaxy;
		proxy_set_header Host $http_host;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Upgrade $http_upgrade;

		# Throttle downloads. First 100Mb are free, after that 5Mb/s.
		# users can move to FTP if they need / we can sort that out.
		limit_rate_after 100m;
		limit_rate 5m;

		# Temporarily break downloading :(
		location /api/libraries/datasets/download/ {
			return 302 https://usegalaxy.eu;
		}
		#location /history/export_archive {
		#	return 302 https://usegalaxy.eu;
		#}
	}
	location ~ ^/api/dataset_collections/([^/]+)/download/?$ {
		proxy_buffering off;
		proxy_pass http://galaxy;
		proxy_set_header Host $http_host;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Upgrade $http_upgrade;
	}

	location /_x_accel_redirect {
		internal;
		alias /;
		add_header X-Frame-Options SAMEORIGIN;
		add_header X-Content-Type-Options nosniff;

		# CORS
		if ($http_origin ~ "^https?://(covid19map\.elixir-luxembourg\.org|www\.bx\.psu\.edu)$") {
			add_header Access-Control-Allow-Origin $http_origin;
			add_header Access-Control-Allow-Methods 'GET';
			add_header Access-Control-Expose-Headers 'Content-Length,Content-Range';
			add_header Access-Control-Allow-Headers 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
		}
	}

	location /_upload {
		upload_store {{ galaxy_config['galaxy']['nginx_upload_store'] }};
		upload_limit_rate 32k;
		upload_store_access user:rw group:rw all:rw;
		upload_pass_form_field "";
		upload_set_form_field "__${upload_field_name}__is_composite" "true";
		upload_set_form_field "__${upload_field_name}__keys" "name path";
		upload_set_form_field "${upload_field_name}_name" "$upload_file_name";
		upload_set_form_field "${upload_field_name}_path" "$upload_tmp_path";
		upload_pass_args on;
		upload_pass /_upload_done;
	}

	location /_upload_done {
		set $dst /api/tools;
		if ($args ~ nginx_redir=([^&]+)) {
				set $dst $1;
		}
		rewrite "" $dst;
	}

	location /_job_files {
		if ($request_method != POST) {
				rewrite "" /api/jobs/$arg_job_id/files last;
		}
		upload_store {{ galaxy_config['galaxy']['nginx_upload_job_files_store'] }};
		upload_limit_rate 32k;
		upload_store_access user:rw group:rw all:rw;
		upload_pass_form_field "";
		upload_set_form_field "__${upload_field_name}_path" "$upload_tmp_path";
		upload_pass_args on;
		upload_pass /_upload_job_files_done;
	}

	location /_upload_job_files_done {
		internal;
		rewrite "" /api/jobs/$arg_job_id/files;
	}

	location /api/upload/resumable_upload {
		# Disable request and response buffering
		proxy_request_buffering  off;
		proxy_buffering          off;
		proxy_http_version       1.1;

		# Add X-Forwarded-* headers
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;

		proxy_set_header         Upgrade $http_upgrade;
		proxy_set_header         Connection "upgrade";
		client_max_body_size     0;
		proxy_pass http://upload.galaxyproject.eu:1081/files;
	}

	location /phinch {
		root /opt;
	}

	location /static/welcome.html {
		alias /opt/multisite-css/$host.html;
	}

	location /static {
		alias {{ galaxy_server_dir }}/static;
		expires 24h;
		location /static/vgcn {
				autoindex on;
				alias /data/dnb01/vgcn/;
		}
		location /static/share {
				autoindex on;
				alias /data/dnb01/share/;
		}
	}

	location ~ /static/dist/base.css {
		root /opt/multisite-css/;
		try_files /$host.css /usegalaxy.eu.css =404;
	}

	location ~ /static/dist/hicexplorer.png {
		alias /opt/multisite-css/hicexplorer.png;
	}

	location ~ /static/dist/annotation.png {
		alias /opt/multisite-css/annotation.png;
	}

	location /robots.txt {
		alias {{ galaxy_server_dir }}/static/robots.txt;
	}

	location ~ ^/plugins/(?<plug_type>[^/]+?)/((?<vis_d>[^/_]*)_?)?(?<vis_name>[^/]*?)/static/(?<static_file>.*?)$ {
		alias /opt/galaxy/config/plugins/$plug_type/;
		try_files $vis_d/${vis_d}_${vis_name}/static/$static_file
				  $vis_d/static/$static_file =404;
	}

	# Global GIE configuration
	location /gie_proxy {
		proxy_pass http://127.0.0.1:8800/gie_proxy;
		proxy_redirect off;
	}

	# Project Jupyter specific. Other IEs may require their own routes.
	location ~ ^/gie_proxy/jupyter/(?<nbtype>[^/]+)/api/kernels(?<rest>.*?)$ {
		proxy_pass http://127.0.0.1:8800/gie_proxy/jupyter/$nbtype/api/kernels$rest;
		proxy_redirect off;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
	}

	location /favicon.ico {
		alias {{ galaxy_server_dir }}/static/favicon.ico;
	}


	location /.well-known/ {
		proxy_set_header           Host $host:$server_port;
		proxy_set_header           X-Real-IP $remote_addr;
		proxy_set_header           X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header           X-Forwarded-Proto $scheme;
		proxy_pass                 http://127.0.0.1:8118;
		proxy_pass_request_headers on;
	}

	{{ gapars_nginx_config }}

	location /apollo/ {
		proxy_pass http://apollo.internal.galaxyproject.eu/apollo/;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection $connection_upgrade;
		proxy_set_header Host $host;
	}

	location /apollo-permapol/ {
		proxy_pass http://apollo.internal.galaxyproject.eu/apollo-permapol/;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection $connection_upgrade;
		proxy_set_header Host $host;
	}

	location /apollo_api/ {
		proxy_pass http://apollo.internal.galaxyproject.eu/apollo_api/;
	}

	location /external/phdcomics/ {
		proxy_pass http://phdcomics.com/;
		# The comics are extremely cacheable. No sense waiting for a server from USA to respond.
		proxy_cache           STATIC;
		proxy_cache_valid     200  10d;
		proxy_cache_use_stale error timeout invalid_header updating http_500 http_502 http_503 http_504;
	}

	location /quota-increase {
		return 301 https://docs.google.com/forms/d/e/1FAIpQLSf9w2MOS6KOlu9XdhRSDqWnCDkzoVBqHJ3zH_My4p8D8ZgkIQ/viewform;
	}

	# TIaaS 2
	{{ tiaas_nginx_routes }}

	# For GTN in Galaxy Webhook
	location /training-material/ {
		proxy_pass https://training.galaxyproject.org/training-material/;
	}

	location /request-tiaas {
		return 301 https://usegalaxy.eu/tiaas/new/;
	}

	location /freiburg {
		return 301 https://galaxyproject.eu/freiburg/;
	}
	location /erasmusmc {
		return 301 https://galaxyproject.eu/erasmusmc/;
	}
	location /pasteur {
		return 301 https://galaxyproject.eu/pasteur/;
	}
	location /belgium {
		return 301 https://galaxyproject.eu/belgium/;
	}
	location /about {
		return 301 https://galaxyproject.eu/about;
	}
	location /people {
		return 301 https://galaxyproject.eu/people;
	}
	location /terms {
		return 301 https://galaxyproject.eu/gdpr;
	}

	resolver 8.8.8.8 8.8.4.4 valid=300s;
	resolver_timeout 5s;
	add_header X-Content-Type-Options nosniff;
	add_header X-XSS-Protection "1; mode=block";
	add_header X-Robots-Tag none;

	client_max_body_size 1G; # aka max upload size, defaults to 1M
}
