server {
	listen 443 ssl;
	listen [::]:443 ssl;

	server_name galaxyproject.eu;

	location / {
		proxy_pass https://usegalaxy-eu.github.io/;
		proxy_cache           STATIC;
		proxy_cache_valid     200  5m;
		proxy_cache_use_stale error timeout invalid_header updating http_500 http_502 http_503 http_504;
	}
}
