# This server is specifically for IEs. With the 'default_server' we needed to ensure special parameters were sent or not sent. This may not be necessary on main.eu?
server_names_hash_bucket_size 128;

# Websocket upgrading
map $http_upgrade $connection_upgrade {
	default upgrade;
	''      close;
}

# Regular routing
server {
	listen 443;
	listen [::]:443;
	server_name ~^(?<key>[0-9a-f-]*)\.interactivetoolentrypoint\.interactivetool\.(?<domain>[a-z0-9.-]*)usegalaxy\.eu$;

	error_log /var/log/nginx/interactive.err;
	access_log /var/log/nginx/interactive.log;

	location / {
		# UWSGI DOES NOT WORK FOR US.
		# UWSGI DOES NOT WORK FOR US.
		#uwsgi_pass      127.0.0.1:4001;

		#proxy_hide_header x-frame-options;
		#add_header X-Content-Type-Options nosniff;

		#include uwsgi_params;
		## test is behind a proxy + under a different external hostname.
		## These probably do not need to be set on main.eu
		#uwsgi_param HTTPS on;
		#uwsgi_param REQUEST_SCHEME https;

		# So we're going to use the OLD one that actually works.
		proxy_pass http://127.0.0.1:8800;
		proxy_redirect off;
		proxy_http_version 1.1;
		proxy_set_header Host $host;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection $connection_upgrade;
	}

	resolver 8.8.8.8 8.8.4.4 valid=300s;
	resolver_timeout 5s;
	add_header X-Content-Type-Options nosniff;
	add_header X-XSS-Protection "1; mode=block";
	add_header X-Robots-Tag none;

	client_max_body_size 1G; # aka max upload size, defaults to 1M
	uwsgi_read_timeout 2400;
}
