server {

	listen 443 ssl default_server;
	listen [::]:443 ssl default_server;

	server_name {{ inventory_hostname }};

	location /api/ {
		alias /srv/nginx/grt-api/;
		autoindex on;
	}

	location / {
		alias /srv/nginx/grt/;
	}

	location /grt/ {
		uwsgi_pass      127.0.0.1:8080;
		include         uwsgi_params;
	}

}
