#!/bin/bash
. /opt/galaxy/.bashrc

stat_timeout=0.1 # seconds
ftp_upload_path="{{ galaxy_config['app:main']['ftp_upload_dir'] }}"
nfs_mp=`dirname $ftp_upload_path`

timeout -s kill $stat_timeout stat -t $nfs_mp > /dev/null
if [[ ! $? == 137 ]];  then
	for username in $(psql -c 'COPY (select email from galaxy_user) TO STDOUT WITH CSV'); do
		mkdir -p "$ftp_upload_path/$username"
	done;
fi
