/*
 * This file is managed by Ansible.  ALL CHANGES WILL BE OVERWRITTEN.
 */

/* Allow users in the docker group to manage units. Way more control than we
 * would like to give, but the "unit" and "verb" action variables (used with
 * action.lookup()) were not added to systemd until 226, so unless RedHat
 * backports them, we are SOL.
 */
polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.systemd1.manage-units" &&
        subject.isInGroup("{{ cvmfs_manage_units_group }}")) {
        return polkit.Result.YES;
    }
});
