---
- name: Install cleanup objectstore script
  template:
    src: "galaxy_cleanup_objectstores.sh.j2"
    dest: "/usr/local/bin/galaxy_cleanup_objectstores.sh"
    mode: "0555"

- name: Schedule Galaxy cleanup objectstore script
  ansible.builtin.cron:
    name: "Galaxy cleanup objectstores"
    job: "/usr/local/bin/galaxy_cleanup_objectstores.sh"
    minute: "{{ galaxy_cleanup_minute }}"
    hour: "{{ galaxy_cleanup_hour }}"
    user: "{{ galaxy_user.name }}"
