---
# Config Sample file: https://github.com/galaxyproject/galaxy/blob/dev/lib/galaxy/config/sample/container_resolvers.yml.sample

# Run explicit singularity image
- type: explicit_singularity

# Run explicit docker image
- type: explicit

# Pull singularity image from cvac - CVMFS
- type: cached_mulled_singularity
  cache_directory: /cvmfs/singularity.galaxyproject.org/all
  cache_directory_cacher_type: dir_mtime

# Pull image from quay.io but runs in singularity
- type: mulled_singularity
  namespace: biocontainers
  auto_install: true

# Get a container from biocontainers and run in docker
- type: cached_mulled
  namespace: biocontainers
