# This is a catalog file for all the user file source templates that are offered by EU's Galaxy server.
- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/onedata.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_aws_private_bucket.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_aws_public_bucket.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_azure.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_dropbox.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_elabftw.yaml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_ftp.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_google_drive.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_invenio.yaml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_s3fs.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_webdav.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_zenodo.yaml"

