- include: "{{ galaxy_file_source_templates_dir }}/production_azure.yml"
- include: "{{ galaxy_file_source_templates_dir }}/production_ftp.yml"
- include: "{{ galaxy_file_source_templates_dir }}/production_s3fs.yml"
- include: "{{ galaxy_file_source_templates_dir }}/production_aws_private_bucket.yml"
- include: "{{ galaxy_file_source_templates_dir }}/production_aws_public_bucket.yml"
