import logging
log = logging.getLogger( __name__ )

def per_host_tool_labels( context, label ):
    """
    This tool section filter results in different labels being displayed based on
    the fqdn the user is making the request to. This could allow a single Galaxy instance
    to seem like several different instances hosting different tools based on the fqdn used
    to access the Galxy. This can be enabled by renaming this file to examples.py and adding
    the following to the ``app:main`` section of ``galaxy.yml``:

        tool_label_filters = examples:per_host_tool_labels
    """
    host = context.trans.request.host
    # Core tools used by all virtual hosts.
    valid_labels = [ "file_meta_label", "general_text_label"]
    general_ngs_labels = [ "genomics_label" ]
    # HiCtools mode: published in NAR 2018
    if "nanopore.usegalaxy.eu" in host or "hicexplorer.usegalaxy.eu" in host or "singlecell.usegalaxy.eu" in host or "metagenomics.usegalaxy.eu" in host or "rna.usegalaxy.eu" in host or "clipseq.usegalaxy.eu" in host or "graphclust.usegalaxy.eu" in host:
        valid_labels += general_ngs_labels
        return label.id in valid_labels
    if "cheminformatics.usegalaxy.eu" in host:
        return label.id in valid_labels
    if "imaging.usegalaxy.eu" in host:
        return label.id in valid_labels
    if "climate.usegalaxy.eu" in host:
        return label.id in valid_labels
    return True


def per_host_tool_sections( context, section ):
    """
    This tool section filter results in different sections being displayed based on
    the fqdn the user is making the request to. This could allow a single Galaxy instance
    to seem like several different instances hosting different tools based on the fqdn used
    to access the Galxy. This can be enabled by renaming this file to examples.py and adding
    the following to the ``app:main`` section of ``galaxy.yml``:

        tool_section_filters = examples:per_host_tool_sections
    """
    host = context.trans.request.host
    # Core tools used by all virtual hosts.
    valid_sections = [ "text_manipulation", "get_data", "collection_operations", "convert_formats", "filter_and_sort", "join,_subtract_and_group" ]
    general_ngs_sections = [ "deeptools", "bed_tools", "operate_on_genomic_intervals", "fasta_fastq_manipulation", "fasta/fastq_manipulation", "fastq_quality_control", "quality_control", "picard", "mapping"  ]
    # HiCtools mode: published in NAR 2018
    if "hicexplorer.usegalaxy.eu" in host:
        valid_sections += general_ngs_sections
        valid_sections += [ "hicexplorer" ]
        return section.id in valid_sections
    if "nanopore.usegalaxy.eu" in host:
        valid_sections += general_ngs_sections
        valid_sections += [ "hicexplorer", "nanopore", "metagenomic_analyses", "mothur", "qiime", "biom_manipulation"]
        return section.id in valid_sections
    if "climate.usegalaxy.eu" in host:
        valid_sections += [ "climate_analysis" ]
        return section.id in valid_sections
    if "metagenomics.usegalaxy.eu" in host:
        valid_sections += [ "fasta_fastq_manipulation", "quality_control", "multiple_alignments", "assembly", "annotation", "display_data"]
        valid_sections += [ "metagenomic_analyses", "mothur", "qiime", "biom_manipulation"]
        return section.id in valid_sections
    if "rna.usegalaxy.eu" in host:
        valid_sections += general_ngs_sections
        valid_sections += [ "rna_analysis", "annotation", "graph/display_data" ]
        return section.id in valid_sections
    if "singlecell.usegalaxy.eu" in host:
        valid_sections += general_ngs_sections
        valid_sections += [ "rna_analysis", "annotation", "graph/display_data" ]
        valid_sections += [ "single-cell" ]
        return section.id in valid_sections
    if "clipseq.usegalaxy.eu" in host:
        valid_sections += general_ngs_sections
        valid_sections += [ "rna_analysis", "peak_calling", "motif_tools"]
        return section.id in valid_sections
    if "graphclust.usegalaxy.eu" in host:
        valid_sections += general_ngs_sections
        valid_sections += [ "rna_analysis", "graphclust"]
        return section.id in valid_sections
    if "cheminformatics.usegalaxy.eu" in host:
        valid_sections += [ "chemicaltoolbox" ]
        return section.id in valid_sections
    if "imaging.usegalaxy.eu" in host:
        valid_sections += [ "imaging", "proteomics" ]
        return section.id in valid_sections
    return True
