import logging
log = logging.getLogger( __name__ )


def per_host_tool_labels( context, label ):
    """
    This tool section filter results in different labels being displayed based on
    the fqdn the user is making the request to. This could allow a single Galaxy instance
    to seem like several different instances hosting different tools based on the fqdn used
    to access the Galxy. This can be enabled by renaming this file to examples.py and adding
    the following to the ``app:main`` section of ``galaxy.yml``:

        tool_label_filters = examples:per_host_tool_labels
    """
    host = context.trans.request.host
    subdomain = host.replace('.usegalaxy.eu', '')

    # show single cell labels only in that subdomain
    if label.id.startswith("single-cell-label"):
        return subdomain == "singlecell"

    # hide genomics label in the single cell subdomain
    if label.id == "genomics_label" and subdomain == "singlecell":
        return False

    # show earth-system labels only in that subdomain
    if label.id.startswith("earth-system-label"):
        return subdomain == "earth-system"

    # Core tools used by all virtual hosts.
    valid_labels = [ "file_meta_label", "general_text_label"]
    general_ngs_labels = [ "genomics_label" ]

    # HiCtools mode: published in NAR 2018
    if "assembly.usegalaxy.eu" in host or "humancellatlas.usegalaxy.eu" in host or "nanopore.usegalaxy.eu" in host or "plants.usegalaxy.eu" in host or "hicexplorer.usegalaxy.eu" in host or "singlecell.usegalaxy.eu" in host or "metagenomics.usegalaxy.eu" in host or "rna.usegalaxy.eu" in host or "clipseq.usegalaxy.eu" in host or "graphclust.usegalaxy.eu" in host or "annotation.usegalaxy.eu" in host or "virology.usegalaxy.eu" in host:
        valid_labels += general_ngs_labels
        return label.id in valid_labels
    if "cheminformatics.usegalaxy.eu" in host:
        return label.id in valid_labels
    if "ml.usegalaxy.eu" in host:
        return label.id in valid_labels
    if "imaging.usegalaxy.eu" in host:
        valid_labels += ['stats_viz']
        return label.id in valid_labels
    if "climate.usegalaxy.eu" in host:
        return label.id in valid_labels
    if "metabolomics.usegalaxy.eu" in host:
        return label.id in valid_labels
    if "ecology.usegalaxy.eu" in host:
        return label.id in valid_labels
    if "materials.usegalaxy.eu" in host:
        return label.id in valid_labels
    if "aqua.usegalaxy.eu" in host:
        return label.id in valid_labels
    if "earth-system.usegalaxy.eu" in host:
        return label.id in valid_labels
    if "astronomy.usegalaxy.eu" in host:
        return False
    return True


BASE_SECTIONS = ["text_manipulation", "get_data", "collection_operations",
        "convert_formats", "filter_and_sort", "join__subtract_and_group", "expression_tools", "send_data"]

GENERAL_NGS_SECTIONS = ["deeptools", "bed", "sam_bam",
        "operate_on_genomic_intervals", "fasta_fastq_manipulation",
        "fasta_fastq", "fastq_quality_control",
        "picard", "mapping", "sam_bam_manipulation"]

human_cell_atlas_sections = ['hca_sc_get-scrna', 'hca_sc_seurat_tools', 'hca_sc_sc3_tools',
                      'hca_sc_scanpy_tools', 'hca_sc_monocle3_tools', 'hca_sc_scater_tools',
                      'hca_sc_scpred_tools', 'hca_sc_garnett_tools', 'hca_sc_label_analysis_tools',
                      'hca_sc_scmap_tools', 'hca_sc_sccaf_tools', 'hca_sc_utils_viz']

DOMAIN_SECTIONS = {
    'assembly': GENERAL_NGS_SECTIONS + ["hicexplorer", "graph_display_data", "peak_calling", "assembly", "annotation",
        'genome_diversity', 'multiple_alignments'],
    'hicexplorer': GENERAL_NGS_SECTIONS + ["hicexplorer", "graph_display_data", "peak_calling"],
    'virology': GENERAL_NGS_SECTIONS + [
        "virology",
        "phylogenetics",
        "multiple_alignments",
        "evolution",
        "assembly",
        "variant_calling",
        "quality_control",
        "graph_display_data",
        "vcf_bcf",
        "emboss",
        "extract_features",
        "ncbi_blast",
        "annotation",
        "nanopore",
        "rna_seq",
        "rna_analysis",
        "metagenomic_analysis",
        "mimodd",
        "peak_calling",
        "sanger_sequencing",
        "statistics",
        "builtin_converters",
    ],
    'nanopore': GENERAL_NGS_SECTIONS + ["nanopore", "ncbi_blast", "fasta_fastq", "assembly", "graph_display_data", "metagenomic_analysis"],
    'ecology': ["join__subtract_and_group", "convert_formats", "data_and_metadata_management", "operate_on_genomic_intervals", "statistics", "graph_display_data", "machine_learning",
        "ncbi_blast", "fasta_fastq", "fastq_quality_control", "assembly", "dna_metabarcoding", "metagenomic_analysis",
        "mothur", "qiime", "rad_seq", "animal_detection_on_acoustic_recordings","species_abundance","biodiversity_data_exploration",
        "gis_data_handling", "climate_analysis", "interactivetools", "geom_mean",
        "compute_indicators_for_satellite_remote_sensing", "compute_indicators_for_turnover_boulders_fields", "ecoregionalization", "phylodiversity", "annotation"],
    'climate': ["climate_analysis", "gis_data_handling", "graph_display_data", "interactivetools"],
    'metagenomics': GENERAL_NGS_SECTIONS + ["fasta_fastq_manipulation",
        "multiple_alignments", "assembly", "annotation",
        "graph_display_data", "metagenomic_analysis", "mothur", "qiime",
        "biom_manipulation"],
    'microgalaxy': GENERAL_NGS_SECTIONS + ["fasta_fastq_manipulation",
        "multiple_alignments", "assembly", "annotation",
        "graph_display_data", "metagenomic_analysis", "mothur", "qiime",
        "biom_manipulation", "interactivetools", "nanopore", "ncbi_blast", 'metabolomics'],
    'microbiology': GENERAL_NGS_SECTIONS + ["fasta_fastq_manipulation",
        "multiple_alignments", "assembly", "annotation",
        "graph_display_data", "metagenomic_analysis", "mothur", "qiime",
        "biom_manipulation", "interactivetools", "nanopore", "ncbi_blast", 'metabolomics'],
    'rna': GENERAL_NGS_SECTIONS + ["rna_seq", "annotation", "rna_analysis",
        "graph_display_data"],
    'singlecell': [
        "sam_bam",
        "fasta_fastq_manipulation",
        "fasta_fastq",
        "fastq_quality_control",
        "sam_bam_manipulation",
        "graph_display_data",
        "hca_sc_monocle3_tools",
        "hca_sc_garnett_tools",
        "hca_sc_label_analysis_tools",
        "hca_sc_scpred_tools",
        "hca_sc_scmap_tools",
        "hca_sc_scanpy_tools",
        "hca_sc_sc3_tools",
        "hca_sc_sccaf_tools",
        "hca_sc_scater_tools",
        "hca_sc_seurat_tools",
        "hicexplorer",
        "single-cell",
        "single-cell-section-scdata",
        "single-cell-section-scanpy",
        "single-cell-section-raceid",
        "single-cell-section-cell-multiomics",
        "single-cell-section-cell-inference",
        "single-cell-section-cell-spatial",
        "single-cell-section-hca-seurat",
        "single-cell-section-interactivetools"
    ],
    'humancellatlas': GENERAL_NGS_SECTIONS + ["rna_seq", "annotation", "rna_analysis",
        "graph_display_data", "single-cell", "interactivetools"] + human_cell_atlas_sections,
    'clipseq': GENERAL_NGS_SECTIONS + ["rna_seq", "peak_calling", "rna_analysis",
        "motif_tools"],
    'plants': GENERAL_NGS_SECTIONS + ["rna_seq", "annotation", "rna_analysis",
        "graph_display_data", "hicexplorer", "peak_calling", "nanopore", "ncbi_blast", "fasta_fastq", "assembly",
        "metagenomic_analysis", "single-cell", "interactivetools"],
    'graphclust': GENERAL_NGS_SECTIONS + ["rna_seq", "graphclust", "rna_analysis"],
    'cheminformatics': ['chemicaltoolbox'],
    'imaging': ['imaging', 'proteomics', 'machine_learning', 'statistics'],
    'metabolomics': ['metabolomics'],
    'ml': ['machine_learning'],
    'annotation': GENERAL_NGS_SECTIONS + ['annotation', 'apollo', 'ncbi_blast', 'assembly', 'variant_calling', 'fetch_sequences___alignments', 'ontology', 'emboss', 'evolution', 'genome_diversity', 'multiple_alignments', 'graph_display_data'],
    'materials': ['muon_spectroscopy', 'xas'],
    'aqua': ["climate_analysis", "gis_data_handling", "graph_display_data", "interactivetools", "machine_learning"],
    'earth-system': [
        "earth-system-section-watercoastal",
        "earth-system-section-earthcritical",
        "earth-system-section-volcano",
        "earth-system-section-biogeo",
        "earth-system-section-marineomics",
        "earth-system-section-interactivetools",
        "biodiversity_data_exploration",
        "annotation",
        "climate_analysis",
        "gis_data_handling"
    ],
    'eirene': ['chemicaltoolbox','metabolomics','interactivetools'],
    'astronomy': ["text_manipulation", "get_data", "collection_operations", "join__subtract_and_group", "expression_tools", "send_data",
    "statistics", "machine_learning", "astronomy"],
    'biodiversity': [
        "assembly",
        "annotation",
        "genome_diversity",
        "biodiversity_data_exploration",
        "multiple_alignments",
        "phylogenetics",
        "evolution",
        "metagenomic_analysis"
    ]
}

def per_host_tool_sections( context, section ):
    """
    This tool section filter results in different sections being displayed based on
    the fqdn the user is making the request to. This could allow a single Galaxy instance
    to seem like several different instances hosting different tools based on the fqdn used
    to access the Galxy. This can be enabled by renaming this file to examples.py and adding
    the following to the ``app:main`` section of ``galaxy.yml``:

        tool_section_filters = examples:per_host_tool_sections
    """
    host = context.trans.request.host
    subdomain = host.replace('.usegalaxy.eu', '')

    # hide HCA tools from other subdomains than humancellatlas or singlecell,
    # do not confuse users by duplicated tools
    if section.id in human_cell_atlas_sections and not {subdomain} & {
        "humancellatlas",
        "singlecell",
    }:
        return False

    # show single cell tools only in that subdomain
    if section.id.startswith("single-cell-section"):
        return subdomain == "singlecell"

    # show earth-system tools only in that subdomain
    if section.id.startswith("earth-system-section"):
        return subdomain == "earth-system"

    # Core tools used by all virtual hosts.
    # HiCtools mode: published in NAR 2018
    if host == "usegalaxy.eu":
        return True

    if subdomain in DOMAIN_SECTIONS:
        return section.id in DOMAIN_SECTIONS[subdomain] or section.id in BASE_SECTIONS
    else:
        return True
