<?xml version="1.0"?>
<job_conf>
    <plugins workers="4">
       <plugin id="dynamic" type="runner">
           <!-- These live on the pythonpath -->
           <param id="rules_module">usegalaxy.jobs.rules</param>
        </plugin>
        <plugin id="condor" type="runner" load="galaxy.jobs.runners.condor:CondorJobRunner" />
        <plugin id="local" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
    </plugins>
    <handlers default="handlers">
        {% for n in range(galaxy_handler_count) %}
        <handler id="handler{{ n }}" tags="handlers"/>
        {% endfor %}
    </handlers>
    <destinations default="condor">
        <destination id="local" runner="local"/>
        <destination id="condor" runner="condor"/>
    </destinations>
</job_conf>
