# This is a catalog file for all the user object store templates that are offered by EU's Galaxy server.
- include: "{{ galaxy_server_dir }}/lib/galaxy/objectstore/templates/examples/cloudflare.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/objectstore/templates/examples/irods_ssl.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/objectstore/templates/examples/onedata.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/objectstore/templates/examples/production_aws_s3.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/objectstore/templates/examples/production_azure_blob.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/objectstore/templates/examples/production_gcp_s3.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/objectstore/templates/examples/production_generic_s3.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/objectstore/templates/examples/rucio.yml"

