- include: "{{ galaxy_object_store_templates_dir }}/production_azure_blob.yml"
- include: "{{ galaxy_object_store_templates_dir }}/production_aws_s3.yml"
- include: "{{ galaxy_object_store_templates_dir }}/production_aws_s3_legacy.yml"
- include: "{{ galaxy_object_store_templates_dir }}/production_generic_s3.yml"
- include: "{{ galaxy_object_store_templates_dir }}/production_generic_s3_legacy.yml"
- include: "{{ galaxy_object_store_templates_dir }}/production_gcp_s3.yml"
