[uwsgi]
; basic settings
master = true
processes = 4
threads = 1
{% if galaxy_zergpool %}
zerg = {{ galaxy_mutable_data_dir }}/zergpool.sock
{% endif %}

; uwsgi performance/robustness features
single-interpreter = true
post-buffering = 65536
thunder-lock = true
harakiri = 600
buffer-size = 16384

# Mapping to serve style content.
static-map= /static/style=static/style/blue

# Mapping to serve the remainder of the static content.
static-map= /static=static

# Mapping to serve the favicon.
static-map= /favicon.ico=static/favicon.ico

; logging
; log-maxsize = 134217728
log-master-bufsize = 15865856

; application
pythonpath = lib
module = galaxy.webapps.galaxy.buildapp:uwsgi_app_factory()
set = galaxy_config_file={{ galaxy_config_dir }}/galaxy.ini
set = galaxy_root={{ galaxy_server_dir }}

die-on-term = true
hook-master-start = unix_signal:2 gracefully_kill_them_all
hook-master-start = unix_signal:15 gracefully_kill_them_all

; ENABLE DURING 19.09 UPGRADE
python-raw = scripts/interactivetools/key_type_token_mapping.py
route-host = ^([a-f0-9]+)-([a-f0-9]+)\.(interactivetoolentrypoint)\.(interactivetool\..*usegalaxy\.eu)$ goto:interactivetool
route-run = goto:endendend
route-label = interactivetool
route-host = ^([a-f0-9]+)-([a-f0-9]+)\.(interactivetoolentrypoint)\.(interactivetool\..*usegalaxy\.eu)$ rpcvar:TARGET_HOST rtt_key_type_token_mapper_cached $1 $3 $2 $4 $0 5
; If the TARGET_HOST variable isn't empty, then route the request to that server
route-if-not = empty:${TARGET_HOST} httpdumb:${TARGET_HOST}
route-label = endendend
; route = .* break:418 Teakanne
