#!/bin/bash
set -ex
. {{ pgs_dir }}/venv/bin/activate;
cd {{ pgs_repo_dir }}
cat servers.csv | awk -F, '{print "curl --connect-timeout 5 --silent "$2"/api/tools | jq . | python tool-count.py \""$1"\""}' | bash
