#!/bin/bash
set -e

args_arr=($@)
# "zeroth" argument (i.e. $1)
jenkins_job=${args_arr[0]}
# Everything after the first two arguments
exec_parts=${@:2}

stderr_log=`mktemp`
stdout_log=`mktemp`
timer=`date +"%s"`

function report() {
	result=$?
	timer=$((`date +"%s"` - $timer))

	log=`mktemp`
	dump=`mktemp`
	printf "\n=== STDOUT ===\n" >> "$log";
	cat $stdout_log >> $log
	printf "\n=== STDERR ===\n" >> "$log";
	cat $stderr_log >> $log
	printf "\n\nuser: %s\n" $(whoami) >> "$log";
	printf "host: %s\n" $(hostname -f) >> "$log";
	printf "date: %s %s %s %s %s %s\n" $(date) >> "$log";
	printf "time: %s second(s)\n" $timer >> "$log";
	printf "exit: %d\n" $result >> "$log"

	# escape + binary encode the log file for Jenkins
	echo "<run>" > $dump;
	echo -n "  <log encoding=\"hexBinary\">" >> $dump
	cat "$log" | hexdump -v -e '1/1 "%02x"' >> $dump;
	echo "</log>" >> $dump
	echo "  <result>$result</result>" >> $dump;
	echo "</run>" >> $dump;

	crumb=$(wget --auth-no-challenge --output-document - -q --user {{ jenkins.username }} --password {{ jenkins.password }} '{{ jenkins.url }}/crumbIssuer/api/xml?xpath=concat(//crumbRequestField,":",//crumb)')

	# post the log to jenkins
	curl -X POST \
		-H "$crumb" \
		-u "{{ jenkins.username }}:{{ jenkins.password }}" \
		-d "@$dump" \
		"{{ jenkins.url }}/job/$jenkins_job/postBuildResult"

	rm -f $stderr_log $stdout_log $log $dump;
}

trap report EXIT;

eval "$exec_parts" 2>$stderr_log >$stdout_log
