#!/bin/bash
set -ex
cd {{ pgs_repo_dir }};
. {{ pgs_repo_dir }}/.venv;
python process.py --json_dir {{ web_dir }} --influx --influx_db {{ influx_db }} --influx_host {{ influx_host }} --influx_port {{ influx_port }}
python badges.py {{ web_dir }} {{ web_dir }}/badges/
