#!/bin/bash
set -ex
. {{ pgs_dir }}/venv/bin/activate;
# Temporarily set umask usch that www-data can read our files.
umask 0003
# Contact all servers
python {{ pgs_repo_dir }}/process.py --json_dir {{ web_dir }} {{ pgs_repo_dir }}/servers.csv
# Build badges
python {{ pgs_repo_dir }}/badges.py {{ web_dir }} {{ web_dir }}/badges/
