##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##
ControlMachine={{ controller_name }}
ControlAddr={{ controller_ip }}
#
AuthType=auth/munge
FastSchedule=1
JobCompLoc=/var/log/slurm/slurm.job.log
JobCompType=jobcomp/filetxt
PluginDir=/usr/lib64/slurm
SchedulerType=sched/backfill
SelectType=select/cons_res
SelectTypeParameters=CR_CPU_Memory
SlurmUser=slurm
SlurmctldPort=7002
SlurmctldTimeout=300
SlurmdPort=7003
SlurmdSpoolDir={{ slurmd_spool_dir }}
SlurmdTimeout=300
StateSaveLocation={{ slurmctld_state_dir }}
SwitchType=switch/none
TreeWidth=50
#AccountingStorageType=accounting_storage/filetxt
DefaultStorageLoc=/var/log/slurm/slurm_accounting
AccountingStorageType=accounting_storage/slurmdbd
AccountingStorageHost=galaxy02
#AccountingStoragePort=6819
AccountingStoragePort=30001
JobAcctGatherType=jobacct_gather/linux
JobAcctGatherFrequency=task=15
ProctrackType=proctrack/linuxproc
ClusterName=jetstream-tacc
ReturnToService=1

#
# Node Configurations
#
NodeName=roundup[49-64] RealMemory=122880 CPUS=24 State=UNKNOWN

#
# Partition Configurations
#
PartitionName=multi State=UP MaxTime=96:00:00 MaxNodes=1 DefMemPerCPU=5120 Nodes=roundup[49-60] LLN=YES
PartitionName=normal State=UP MaxTime=96:00:00 MaxNodes=1 DefMemPerCPU=7680 Nodes=roundup[61-64] LLN=YES Default=YES
PartitionName=reserved State=UP MaxTime=96:00:00 MaxNodes=1 DefMemPerCPU=7680 Nodes=roundup[49-64]

SlurmctldDebug=6
SlurmdDebug=6
