global
	log /dev/log  local0
	log /dev/log  local1 debug
{% if haproxy_socket != '' %}
	stats socket {{ haproxy_socket }} level admin
{% endif %}
{% if haproxy_chroot != '' %}
	chroot {{ haproxy_chroot }}
{% endif %}
	user {{ haproxy_user }}
	group {{ haproxy_group }}
	daemon
{% for global_var in haproxy_global_vars %}
	{{ global_var }}
{% endfor %}

defaults
	log global
	mode  http
	option  httplog
	option  dontlognull
{% if haproxy_version == '1.4' %}
	contimeout 5000
	clitimeout 50000
	srvtimeout 50000
{% else %}
	timeout connect 5000
	timeout client 1000000
	timeout server 1000000
{% endif %}
{% if ansible_os_family == 'Debian' %}
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http
{% endif %}

{% for frontend in haproxy_frontends %}
frontend {{ frontend.name }}
{% for bind_addr in frontend.bind %}
	bind {{ bind_addr }}
{% endfor %}
	mode {{ frontend.mode }}

{% for line in frontend.custom_config %}
	{{ line }}
{% endfor %}

{% for gx_host in frontend.galaxy_hosts %}
	acl {{ gx_host.id }}_host  hdr_dom(host) -i {{ gx_host.domain }}
{% endfor %}

{% for gx_host in frontend.galaxy_hosts %}
	use_backend {{ gx_host.id }}_special   if {{ gx_host.id }}_host welcome
	use_backend {{ gx_host.id }}_special   if {{ gx_host.id }}_host basecss
	use_backend {{ gx_host.id }}_base      if {{ gx_host.id }}_host
{% endfor %}
	use_backend galaxy

{% endfor %}

{% for backend in haproxy_backends %}
backend {{ backend.name }}
	mode {{ backend.mode }}
	balance {{ backend.balance }}
{% for line in backend.custom_config %}
	{{ line }}
{% endfor %}

{% endfor %}

{% for frontend in haproxy_frontends %}
{% for gx_host in frontend.galaxy_hosts %}
{% if 'disable_default_backend' not in gx_host %}
backend {{ gx_host.id }}_special
	mode http
	balance roundrobin
	reqrep ^GET\ /static/style/base.css(.*)\ HTTP/1.1 GET\ /static/style/base-{{ gx_host.id }}.css\1\ HTTP/1.1
	reqrep ^GET\ /static/welcome.html\ HTTP/1.1 GET\ /static/welcome-{{ gx_host.id }}.html\ HTTP/1.1
	{{ haproxy_galaxy_backend }}

backend {{ gx_host.id }}_base
	mode http
	balance roundrobin
	{{ haproxy_galaxy_backend }}

{% endif %}
{% endfor %}

{% endfor %}

{% if haproxy_stats %}
listen stats 127.0.0.1:8080
	mode http
	stats enable
	stats hide-version
	stats realm Haproxy\ Statistics
	stats uri /
{% endif %}
