allow setuid             = {{ singularity_config.allow_setuid }}
max loop devices         = {{ singularity_config.max_loop_devices }}
allow pid ns             = {{ singularity_config.allow_pid_ns }}
config passwd            = {{ singularity_config.config_passwd }}
config group             = {{ singularity_config.config_group }}
config resolv_conf       = {{ singularity_config.config_resolv_conf }}

mount proc               = {{ singularity_config.mount_proc }}
mount sys                = {{ singularity_config.mount_sys }}
mount dev                = {{ singularity_config.mount_dev }}
mount devpts             = {{ singularity_config.mount_devpts }}
mount home               = {{ singularity_config.mount_home }}
mount tmp                = {{ singularity_config.mount_tmp }}
mount hostfs             = {{ singularity_config.mount_hostfs }}

{% for bind_path in singularity_config.bind_paths %}
bind path                = {{ bind_path }}
{% endfor %}

user bind control        = {{ singularity_config.user_bind_control }}
enable overlay           = {{ singularity_config.enable_overlay }}
mount slave              = {{ singularity_config.mount_slave }}
sessiondir max size      = {{ singularity_config.sessiondir_max_size }}

{% for limit_container_owner in singularity_config.limit_container_owners %}
limit container owners   = {{ limit_container_owner }}
{% endfor %}
{% for limit_container_path in singularity_config.limit_container_paths %}
limit container paths    = {{ limit_container_path }}
{% endfor %}

allow container squashfs = {{ singularity_config.allow_container_squashfs }}
allow container extfs    = {{ singularity_config.allow_container_extfs }}
allow container dir      = {{ singularity_config.allow_container_dir }}

{% for autofs_bug_path in singularity_config.autofs_bug_paths %}
autofs bug path          = {{ autofs_bug_path }}
{% endfor %}
