---
# This file is used to define custom messages for tools that are displayed in the tool form
# The toolmsg webhook wil be triggered and the message will be displayed in the tool form if the tool_id matches

# Format:
# toolmsg_messages:
#   - tool_id: to match subject.startsWith(tool_id)
#              Best to use remove version numbers and trailing slash
#              e.g. toolshed.g2.bx.psu.edu/repos/galaxyp/diann/diann
#     message: A custom HTML message to be displayed for this tool
#     class: bootstrap class [primary, info, success, warning, danger]

# Example 1: Display a warning message for the tool ncbi_blastp_wrapper, the message will be in bold format
# toolmsg_messages:
#   - tool_id: toolshed.g2.bx.psu.edu/repos/devteam/ncbi_blast_plus/ncbi_blastp_wrapper
#     message: <strong>We recommend using Diamond instead.</strong>
#     class: warning

# Example 2: Display a warning message for the tool ncbi_blastp_wrapper, the message will be in bold format and will have a link to the Diamond tool
# toolmsg_messages:
#   - tool_id: toolshed.g2.bx.psu.edu/repos/devteam/ncbi_blast_plus/ncbi_blastp_wrapper
#     message: >
#       <strong>We recommend using
#       <a href="https://usegalaxy.eu/?tool_id=toolshed.g2.bx.psu.edu%2Frepos%2Fbgruening%2Fdiamond%2Fbg_diamond%2F2.1.11%2Bgalaxy0&version=latest"
#           target="_blank"
#       >
#         Diamond
#       </a>
#       instead.</strong>
#     class: warning

toolmsg_messages:
  - tool_id: toolshed.g2.bx.psu.edu/repos/iuc/annotatemyids
    message: >
      <strong>We recommend using
      <a href="https://usegalaxy.eu/?tool_id=gprofiler_convert">gProfiler Convert</a>
      instead. <i>gProfiler Convert</i> is more efficient and supports more organisms.</strong>
    class: warning
  - tool_id: toolshed.g2.bx.psu.edu/repos/devteam/fastqc/fastqc
    message: >
      <strong>We recommend using
      <a href="https://usegalaxy.eu/?tool_id=falco">Falco</a>
      instead. Falco is 3 times faster and offers the same functionality as FASTQC.</strong>
    class: warning
  - tool_id: toolshed.g2.bx.psu.edu/repos/devteam/ncbi_blast_plus/ncbi_blastp_wrapper
    message: >
      <strong>We recommend using
      <a href="https://usegalaxy.eu/?tool_id=bg_diamond">Diamond</a>
      instead. Pairwise alignment of proteins and translated DNA can be up to 100x-10,000x faster than BLAST.</strong>
    class: warning
  - tool_id: toolshed.g2.bx.psu.edu/repos/maciek/spamr_vet_tools/mlst_amr_staramr
    message: >
      <strong>The <a href="https://toolshed.g2.bx.psu.edu/repository/view_repository?id=597eedd2a8e1f88b">SPAMR-VET tools</a>
      are in-development tools currently offered for testing purposes only.</strong>
    class: warning
  - tool_id: toolshed.g2.bx.psu.edu/repos/maciek/spamr_vet_tools/quality_script_fastp_bracken
    message: >
      <strong>The <a href="https://toolshed.g2.bx.psu.edu/repository/view_repository?id=597eedd2a8e1f88b">SPAMR-VET tools</a>
      are in-development tools currently offered for testing purposes only.</strong>
    class: warning
  - tool_id: toolshed.g2.bx.psu.edu/repos/maciek/spamr_vet_tools/quast_get_fasta
    message: >
      <strong>The <a href="https://toolshed.g2.bx.psu.edu/repository/view_repository?id=597eedd2a8e1f88b">SPAMR-VET tools</a>
      are in-development tools currently offered for testing purposes only.</strong>
    class: warning
  - tool_id: toolshed.g2.bx.psu.edu/repos/iuc/meme_dreme/meme_dreme/4.11.2.0
    message: >
      <strong>We recommend using
      <a href="https://usegalaxy.eu/?tool_id=meme_streme">STREME</a>
      instead. DREME has been deprecated. STREME provides higher accuracy and sensitivity in motif discovery. </strong>
    class: warning
  - tool_id: toolshed.g2.bx.psu.edu/repos/bgruening/chatgpt_openai_api/chatgpt_openai_api
    message: >
      <strong>This tool uses the OpenAI API and requires an access token.
      If you prefer to use open-access models that are executed within the EU, we recommend using the
      <a href="https://usegalaxy.eu/?tool_id=llm_hub">LLM Hub</a>
      instead. It provides direct access to a wide range of open-source models without requiring an access token.</strong>
    class: warning

  - tool_id: toolshed.g2.bx.psu.edu/repos/iuc/trinity/trinity
    class: warning
    message: >
      <strong>Trinity is deprecated on usegalaxy.eu and receives only limited computing resources. Please consider
      using <a href="/?tool_id=rnaspades">rnaSPAdes</a> instead.</strong>

  - tool_id: toolshed.g2.bx.psu.edu/repos/artbio/concatenate_multiple_datasets/cat_multi_datasets
    class: warning
    message: >
      <strong>This tool is deprecated please use <a href="/?tool_id=cat1">Concatenate datasets</a> instead.</strong>

  - tool_id: toolshed.g2.bx.psu.edu/repos/peterjc/tmhmm_and_signalp/Psortb
    class: warning
    message: >
      <strong>This tool is deprecated please use <a href="https://usegalaxy.eu/?tool_id=toolshed.g2.bx.psu.edu/repos/bgruening/psortb/psortb">PSORTb</a> instead.</strong>

  - tool_id: interactive_tool_ml_jupyter_notebook
    class: info
    message: >
      To launch JupyterLab, please submit the <a href='https://usegalaxy.eu/gpu-request'>GPU access request form</a> and wait for approval.
