##
## This file is managed by Ansible.  ALL CHANGES WILL BE OVERWRITTEN.
##
[General]

Verbosity = 0
Pipefs-Directory = {{ rpc_pipefs_directory }}
# set your own domain here, if id differs from FQDN minus hostname
Domain = {{ nfsv4_domain }}

[Mapping]

Nobody-User = nobody
Nobody-Group = nogroup
