---
- name: Sign host keys if missing or expired
  ansible.builtin.include_tasks:
    file: sign.yml
  with_items: "{{ ssh_host_sign_keys }}"

- name: Add CA certificate to known_hosts file
  ansible.builtin.lineinfile:
    line: "@cert-authority {{ ssh_host_sign_cert_domains_ips }} {{ lookup('file', 'server_ca.pub')  }}"
    path: /etc/ssh/ssh_known_hosts
    state: present
    create: true

- name: "Helper"
  ansible.builtin.debug:
    msg: "Please add the following to your known_hosts file: @cert-authority {{ ssh_host_sign_cert_domains_ips }} {{ lookup('file', 'server_ca.pub')  }}"
