---
- name: Sign host keys if missing or expired
  ansible.builtin.include_tasks:
    file: sign.yml
  with_items:
    - rsa
    - ecdsa
    - ed25519
    
- name: Ensure server key is gone
  file:
    path: /tmp/server_ca
    state: absent

# Requires dev-sec.ssh-hardening
- set_fact:
    sshd_custom_options:
      - "HostCertificate /etc/ssh/ssh_host_rsa_key-cert.pub"
      - "HostCertificate /etc/ssh/ssh_host_ecdsa_key-cert.pub"
      - "HostCertificate /etc/ssh/ssh_host_ed25519_key-cert.pub"
  notify: "restart sshd"

- name: Another way to call known_hosts
  ansible.builtin.lineinfile:
    line: "@cert-authority {{ ssh_host_resign_cert_domains_ips }} {{ lookup('file', 'server_ca.pub')  }}"
    path: /etc/ssh/ssh_known_hosts
    create: true

- name: "Helper"
  debug:
    msg: "Please add the following to your known_hosts file: @cert-authority {{ ssh_host_resign_cert_domains_ips }} {{ lookup('file', 'server_ca.pub')  }}"
