---
- name: Get passwd database on target
  ansible.builtin.getent:
    database: passwd
  register: getent_passwd_result

- name: Collect UNIX users from authorized persons role setting
  ansible.builtin.set_fact:
    authorized_unix_users: "{{ ssh_manager_authorized_persons | dict2items | map(attribute='value.users') | sum(start=[]) | unique }}"

- name: Collect UNIX users that have an authorized keys file defined
  ansible.builtin.shell:
    cmd: |
      while IFS=: read -r username homedir; do
        if [ -f "$homedir/.ssh/authorized_keys" ]; then
          echo "$username"
        fi
      done
    stdin: |
      {% for user, fields in getent_passwd_result.ansible_facts.getent_passwd.items() %}
      {{ user }}:{{ fields[4] }}
      {% endfor %}
  changed_when: false
  check_mode: false
  register: access_configured_unix_users

- name: Process SSH keys for each UNIX user
  include_tasks: process_user.yml
  loop: "{{ (authorized_unix_users + access_configured_unix_users.stdout_lines) | unique }}"
  loop_control:
    loop_var: unix_user
    label: "{{ unix_user }}"
