---
- name: "Process SSH keys for {{ unix_user }}"
  block:
    - name: "Get user's home directory for {{ unix_user }}"
      ansible.builtin.set_fact:
        user_home: "{{ getent_passwd_result.ansible_facts.getent_passwd[unix_user][4] }}"

    - name: "Initialize empty key list for {{ unix_user }}"
      ansible.builtin.set_fact:
        user_ssh_keys: []

    - name: "Build list of SSH keys for {{ unix_user }}"
      ansible.builtin.set_fact:
        user_ssh_keys: "{{ (user_ssh_keys + person_keys) | unique }}"
      loop: "{{ ssh_manager_authorized_persons | dict2items }}"
      loop_control:
        loop_var: person_entry
        label: "{{ person_entry.key }}"
      vars:
        person_name: "{{ person_entry.key }}"
        person_data: "{{ person_entry.value }}"
        # this will match if the person is authorized for all machines or the current machine
        machine_matches: "{{ inventory_hostname in query('inventory_hostnames', person_data['machines'] if person_data['machines'] is string else person_data['machines'] | join(',')) }}"
        user_matches: "{{ unix_user in person_data['users'] }}"
        person_keys: "{{ person_data['keys'] }}"
      when:
        - machine_matches | bool
        - user_matches | bool

    - name: "Ensure .ssh directory exists for {{ unix_user }}"
      become: true
      ansible.builtin.file:
        path: "{{ user_home }}/.ssh"
        state: directory
        owner: "{{ unix_user }}"
        group: "{{ unix_user }}"
        mode: '0700'

    - name: "Replace authorized_keys for {{ unix_user }}"
      become: true
      ansible.builtin.template:
        src: authorized_keys.j2
        dest: "{{ user_home }}/.ssh/authorized_keys"
        owner: "{{ unix_user }}"
        group: "{{ unix_user }}"
        mode: '0600'
  when: unix_user in getent_passwd_result.ansible_facts.getent_passwd.keys()
