#!ipxe
set bootsrv {{ hostvars['dnbd3-primary.galaxyproject.eu']['ansible_default_ipv4']['address'] }}
set rootdir netboot

kernel http://${bootsrv}/${rootdir}/kernel || shell
initrd http://${bootsrv}/${rootdir}/initrd || shell

imgargs kernel slxprot=http slxsrv={{ hostvars['dnbd3-primary.galaxyproject.eu']['ansible_default_ipv4']['address'] }} slxbase=netboot BOOTIF=01-${mac}

# hostname=${hostname} console=tty0 || shell
boot || shell

