;;
;; This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
;;

[program:sentry_memcached]
process_name    = memcached
command         = /usr/bin/memcached -m 128 -l 127.0.0.1 -p 11211
user            = sentry
autostart       = true
autorestart     = true
stdout_logfile  = {{ supervisord_log_dir }}/sentry_memcached.log
redirect_stderr = true

[program:sentry_web]
process_name    = web
command         = {{ sentry_prefix }}/bin/uwsgi --ini {{ sentry_conf_dir }}/uwsgi.ini
environment     = VIRTUAL_ENV="{{ sentry_prefix }}",PATH="{{ sentry_prefix }}/bin"
directory       = {{ sentry_var_dir }}
user            = sentry
autostart       = true
autorestart     = true
stdout_logfile  = {{ supervisord_log_dir }}/sentry_web.log
redirect_stderr = true

[program:sentry_workers]
process_name    = workers
command         = {{ sentry_prefix }}/bin/sentry --config={{ sentry_conf_dir }}/sentry.conf.py celery worker
environment     = VIRTUAL_ENV="{{ sentry_prefix }}",PATH="{{ sentry_prefix }}/bin"
directory       = {{ sentry_var_dir }}
user            = sentry
autostart       = true
autorestart     = true
stdout_logfile  = {{ supervisord_log_dir }}/sentry_workers.log
redirect_stderr = true

[program:sentry_redis]
process_name    = redis
command         = {{ sentry_prefix }}/bin/redis-server {{ sentry_conf_dir }}/redis.conf
directory       = {{ sentry_var_dir }}
user            = sentry
autostart       = true
autorestart     = true
stdout_logfile  = {{ supervisord_log_dir }}/sentry_redis.log
redirect_stderr = true

[program:sentry_beat]
process_name    = beat
command         = /opt/sentry/bin/sentry --config=/etc/opt/sentry/sentry.conf.py celery beat
environment     = VIRTUAL_ENV="/opt/sentry",PATH="/opt/sentry/bin"
directory       = /var/opt/sentry
user            = sentry
autostart       = true
autorestart     = true
stdout_logfile  = /var/log/supervisor/sentry_beat.log
redirect_stderr = true

[group:sentry]
programs = sentry_web,sentry_workers,sentry_redis,sentry_memcached,sentry_beat
